.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    margin-left: 93px;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-item-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-color-light-theme;
}

.navigation-list-item-link.current {
    position: relative;

    color: $accent-color;
}

.navigation-list-item-link.current::after {
    position: absolute;
    left: 0;
    top: 96%;
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
}