.header {
    background-color: $primary-background-color;
    border-bottom: 1px solid #ececec;
}

.header .link:focus,
.header .link:hover {
    color: var(--accent-color);
}

.header .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width:768px) {
        font-size: $text-font-size;
        line-height: 1.14;
    }
}

// MOBILE HEADER
@media screen and (max-width: 767px) {
    .header {
        position: relative;
        height: 60px;
        padding-top: 18px;
    }

    .menu-button {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        margin-left: auto;

        &:hover .icon-cross,
        &:focus .icon-menu {
            fill: $accent-color;
        }
    }

    .menu-button .icon-cross {
        display: none;
    }

    .menu-button.is-open .icon-cross {
        display: block;
    }

    .menu-button.is-open .icon-menu {
        display: none;
    }

    .menu-container {
        background-color: $primary-background-color;
        padding: 60px;
        text-align: center;

        @media screen and (max-width: 767px) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 10;

            &.is-open {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }
}

// NAVIGATION

.navigation {
    display: flex;
    align-items: center;
}

.menu-container {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }
}

.navigation-list {
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
        display: flex;
        margin-bottom: 0px;
        margin-left: 88px;
    }

    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.navigation-list-item:not(:last-child) {
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        margin-bottom: 0px;
        margin-right: 50px;
    }
}

.navigation-list-item-link {
    color: $title-color-light-theme;

    @media screen and (min-width:768px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.navigation-list-item-link.current {
    position: relative;

    color: $accent-color;
}

.navigation-list-item-link.current::after {
    position: absolute;
    left: 0%;
    top: 96%;
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
}

// CONTACTS LIST

.contact-list {
    @media screen and (min-width:768px) {
        margin-left: 47px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: 279px;
    }
}

.contact-list-item:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width:768px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 0px;
        margin-right: 50px;
    }
}

.contact-list-item-link {
    color: $text-color-light-theme;

    &:hover .contact-icon,
    &:focus .contact-icon {
        fill: $accent-color;
    }

    @media screen and (min-width:1200px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contact-icon {
    margin-right: 10px;
    vertical-align: middle;

    fill: $text-color-light-theme;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}