.partners {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    background-color: $primary-background-color;
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.client-list-item {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;

    &-link {
        height: 90px;
        justify-content: center;
        align-items: center;
        display: flex;

        border: 1px solid #afb1b8;
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-link-icon {
        fill: #afb1b8;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 15px * 6) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 15px * 12) / 6);
    }
}

.client-list-item-link:hover,
.client-list-item-link:focus {
    border-color: $accent-color;
}

.client-list-item-link:hover .client-list-item-link-icon,
.client-list-item-link:focus .client-list-item-link-icon {
    fill: $accent-color;
}